@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.module.css */
.text-danger{
    fill: #0de643; /* Cambia "red" al color que desees */
  }
  

#gradiente{
  background: linear-gradient(to bottom right, #BDB2FF, #A3EAA3);
}
.borde
{
  border-radius: 0px;
}

